<% var pageTitle = '' %>
<% include partials/header %>
  <!-- Custom for this template -->
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
      <h1>Productfy</h1>
      <h2>Do anything you want</h2>
      <p >
      <a href="/auth/facebook">
      <button class="facebook">Login w/ Facebook</button>
      </a>
    </p>
  </div>
  </body>
</html>
